/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Start styles*/
body {
	font-family: sans-serif;
	font-size: 18px;
	width: 100%;
	background: #fff;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

/* Grid layout and assignments */
.container {
	display: grid;
	height: 100vh;
	padding: 0 auto;
	grid-template-areas:	"statusBar statusBar statusBar	statusBar"
						 	"introSection emaSection stressSection exitSection"
						 	"responseBreak responseBreak responseBreak responseBreak"
							". emaResponses storyResponses ."
							"responseBar responseBar responseBar responseBar"
							"footer footer footer footer";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 60px 1.1fr 40px 0.7fr 60px 150px;
}

.introSection, .emaSection, .stressSection, .exitSection, .emaResponses, .storyResponses  {
	display: flex;
    flex-direction: column;
    padding: 5% 10%;
}

.status {
	grid-area: statusBar;
	width: 100%;
	color: #000;
	text-align: center;
	padding-top: 20px;

}

.introSection {
	grid-area: introSection;
}

.emaSection {
	grid-area: emaSection;
}

.stressSection {
	grid-area: stressSection;
}

.exitSection {
	grid-area: exitSection;
}

.responseBreak {
	grid-area: responseBreak;
	width: 100%;
	text-align: center;
}

.emaResponses {
	grid-area: emaResponses;
}

.storyResponses {
	grid-area: storyResponses;
}

.responseBar {
	grid-area: responseBar;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*Footer needs to be styled! Spans and buttons set up in HTML but not ID'd or pulled into a function*/
footer {
	grid-area: footer;
	background-color: #ccc;

}

.highlightSection {
	background-color: #DED5E8;
}

/* BUTTONS!!! */
button.intro {
	background-color: #FCF1E3;
}

button.emaQs, button.stressStory, button.exit, button#startSession  {
	background-color: #E3EFFC;
}

button.story_response, button.response {
	background-color: #F0E3FC;
}

button.ema_response {
	background-color: #6A6FE5;
	color: #fff;
}

button#endSession {
	background-color: #DA1111;
	color: #fff;
	/*display: hidden;*/
}

button {
/*	max-width: 80%;*/
	padding:1em 1.45em;
	margin:0.5em 0;
	border:0;
	text-decoration:none;
	font-weight:400;
	font-size: 12px;
	color:#000000;
/*	background-color:#CCCCCC;*/
	text-align:center;
	position:relative;
}

button:hover {
	background-color:#ffafaf;
}
button:active {
	background-color:#999999;
}
button:focus {
	outline:0;
}
@media all and (max-width:30em){
 button{
  display:block;
  margin:0.5em auto;
 }



/* OTHER PAGE STUFF */
label {
	/*font-size: 14px; trying to size these down and it's not seeming to work*/
}
