/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Start styles*/
body {
	font-family: sans-serif;
	font-size: 18px;
	width: 100%;
	background: #fff;
}

.status {
	height: 100px;
	background-color: red;
}


/* Grid layout and assignments */
.container {
	display: grid;
	grid-template-areas: 	"introSection emaSection stressSection exitSection"
							". emaResponses storyResponses ."
							"responseBar responseBar responseBar responseBar";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 100px;
}

.container div {
	margin: 0 auto;
}

.introSection {
	grid-area: introSection;
}

.emaSection {
	grid-area: emaSection;
}

.stressSection {
	grid-area: stressSection;
}

.exitSection {
	grid-area: exitSection;
}

.emaResponses {
	grid-area: emaResponses;
}

.storyResponses {
	grid-area: storyResponses;
}

.responseBar {
	grid-area: responseBar;
}


/*Basic buttons set up*/
button {
	max-width: 80%;
	padding:1em 1.45em;
	margin:0.5em;
	border:0.15em solid #CCCCCC;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:400;
	color:#000000;
	background-color:#CCCCCC;
	text-align:center;
	position:relative;
}

button:hover{
 border-color:#7a7a7a;
}
button:active{
 background-color:#999999;
}
@media all and (max-width:30em){
 button{
  display:block;
  margin:0.5em auto;
 }



